body{
    background-image:url("https://images.unsplash.com/photo-1524312966005-030e396636fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODB8fHdoZWF0aXNoJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") ;
}
.contents{
    align-items:baseline;
}
div.contents{
    text-align: center;
    
}
ul.notes{
    display: inline-block;
    text-align: left;
}
button{
    background-image: url("unit-1.jpg");
}
img{
    border-radius: 90%;
    box-shadow: 10px 10px rgb(123, 30, 30);
}
