<style>
html{
  background-image: url("C:\Users\vridd\Desktop\DK Minor\unitWise.jpg");
}
  body {
    /* background-color: aqua; */
    background-image: url(../unitWise.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  div.flip-card{
    margin: 80px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: auto;
  }
  .flip-card {
    background-color: transparent;
    width: 800px;
    height: auto;
    perspective: 4000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: brown;
    color: white;
    transform: rotateY(180deg);
  }
  .list{
    text-decoration: none;
  }
</style>